body,p,a,span,h1,h2,h3,h4,h5,h6{
    padding: 0;
    margin: 0;
}
a:link{
    text-decoration: none;
}
body{
    font-family: "Montserrat",sans-serif;
    min-width: 1200px;
}
.container{
    margin: 0 auto;
    min-width: 1160px;
}
.label-section{
    font-size: 36px;
    font-weight: normal;
    color: #4e4e4e;
}
.double-lines{
    width: 75px;
    height: 6px;
    border:2px solid transparent;
    border-top-color: #18cfab;
    border-bottom-color: #18cfab;
    transform: skew(50deg);
}
.fa-search{
    cursor: pointer;
}


/*header-home-block*/
.header-home-block{
    background: url("../img/sections_background/section-1.jpg") fixed center/cover;
}


/*header*/
    /*icon-hexagon*/
.icon-hexagon {
    width: 58px;
    height: 33px;
    background: #18cfab;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-hexagon:before {
    content: "";
    position: absolute;
    top: -15px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 29px solid transparent;
    border-right: 29px solid transparent;
    border-bottom: 15px solid #18cfab;
}
.icon-hexagon:after {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 29px solid transparent;
    border-right: 29px solid transparent;
    border-top: 15px solid #18cfab;
}
.icon{
    font-size: 40px;
    color: white;
}
.logo-slogan{
    margin-left: 8px;
    font-size: 32px;
    color: #18cfab;
}
.logo-slogan-redid{
    color: white;
}
.logo{
    display: flex;
    align-items: center;
}
.header-list{
    max-width: 650px;
    min-width: 600px;
    display: flex;
    justify-content: space-between;
}
.header-list-item{
    padding: 53px 0 53px 0 ;
    color: #b8b8b8;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 1px solid transparent;
}
.header-list-item:hover{
    color: #18cfab;
    border-bottom-color: #18cfab;
}

.header{
    background-color: rgba(146,145,140, 0.45);
}
.header > .container{
    display: flex;
    justify-content: space-between;
}

/*home-block*/
.home-block{
    text-align: center;
    padding: 235px 0 235px 0;
}
.pre-slogan, .main-slogan{
    color: white;
}
.pre-slogan{
    font-size: 35px;
    font-weight: bold;
}
.pre-slogan-redid{
    color: #18cfab;
}
.main-slogan{
    font-size: 79px;
    text-transform: uppercase;
}
.next-slogan{
    font-size: 34px;
    font-weight: lighter;
    color: #d4d4d4;
    padding-bottom: 137px;
}
.button{
    display: inline-block;
    box-sizing: border-box;
    font-weight: bold;
    border-radius: 14px;
    border-top: 5px solid white;
    padding: 25px 30px;
    color: aliceblue;
    text-transform: uppercase;
}
.button-color-green{
    grid-area: button-color-green;
    background-color: #18cfab;
    transition: color, border-top-color, background-color 0.5s;
}
.button-color-green:hover{
    background-color: white;
    color: #18cfab;
    border-top-color:#18cfab ;
}
.button-color-blue{
    grid-area: button-color-blue;
    background-color: #00cbf6;
    transition: color, border-top-color, background-color 0.5s;
}
.button-color-blue:hover{
    background-color: white;
    border-top-color: #00cbf6;
    color: #00cbf6;
}

/*four-options*/
.four-options{
    height: 360px;
    background-color: #fff;
    display: grid;
    grid-template-rows: inherit;
    grid-template-columns: repeat(4 , 1fr);
}
.four-options-item{
    border-top: 10px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.four-options-item:nth-child(even){
    background-color: #18cfab;
    border-top-color: #ffffff;
    color: white;
    transition: color, border-top-color, background-color 0.5s;
}
.four-options-item:nth-child(even):hover{
    background-color: white;
    border-top-color: #18cfab;
    color: #18cfab;
}
.four-options-item:nth-child(odd){
    background-color: #1c2a33;
    border-top-color: #18cfab;
    color: #18cfab;
    transition: color, border-top-color, background-color 0.5s;
}
.four-options-item:nth-child(odd):hover{
    background-color: white;
    border-top-color: #1c2a33;
    color: #1c2a33;
}
.item-icon{
    font-size: 80px;
    margin-bottom: 35px;
}
.item-text{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

/*service*/
.service{
    padding: 80px 0 80px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.our-services{
    width: inherit;
    display: flex;
    justify-content: space-around;
}
.service-items-link{
    width: calc( 100% / 6);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: #717171;
    padding: 25px;
    border: 1px solid #ebebeb;
    border-left-color: transparent;
    position: relative;
}
.service-items-link:hover:after{
    content: '';
    display: inline-block;
    border: 12px solid transparent;
    border-top-color: #18cfab;
    position: absolute;
    bottom: -36px;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 3;
}
.service-items-link:first-of-type{
    border-left-color: #ebebeb ;
}
.service-items-link-check{
    background-color: #18cfab;
    color: white;
}
.service-items-link-check:after{
    content: '';
    display: inline-block;
    border: 12px solid transparent;
    border-top-color: #18cfab;
    position: absolute;
    bottom: -36px;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 3;

}
.service-information{
    display: flex;
    align-items: flex-start;
    padding-top:26px ;
}
.service-information-img{
    padding-right: 20px;
    object-fit: fill;
    width: 194px;
    height: 139px;
}
.service-information-text {
    color: #777777;
    font-size: 14px;
}

/*purchase-block*/
.purchase-block{
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)) ,url("../img/sections_background/section-2.jpg") repeat center;;
}
.purchase-block>.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 125px 0 125px 0;
}
.purchase-block-slogan{
    font-size: 40px;
    font-weight: bold;
    color: #18cfab;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.purchase-block-text{
    color: #cdcccc;
    font-size: 16px;
    margin-bottom: 70px;
}
.purchase-button{
}

/*work-block*/
.work-block{
    background-color: #f8fcfe;
    padding: 97px 0 97px 0;
    border-bottom: 1px solid #e1e1e1;
}
.work-block>.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container>.label-section{
    margin-bottom: 25px;
}
.container>.double-lines{
    margin-bottom: 57px;
}
.work-block-items{
    border: 1px solid #ebebeb;
    background-color: #fff;
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
}
.work-block-link:not(:first-child){
    border-left-color: #ebebeb;
}
.work-block-link{
    display: inline-block;
    padding:  25px;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 500;
    color: #717171;
    border: 1px solid transparent;
    cursor: pointer;
}
.work-block-link:hover{
    box-shadow: 0 -2px 0 0 #18cfab;
}
.work-block-link-check{
    box-shadow: 0 -2px 0 0 #18cfab;
    color: #18cfab;
}
.uploading-pictures{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
    margin-bottom: 67px;
}
.card{
    width: 286px;
    height: 206px;
    position: relative;
    perspective: 1000px;
}
.front, .back{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
    backface-visibility: hidden;
}
.back {
    background-color: #f8fcfe;
    transform: rotateY(180deg);
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 85px 45px 1fr;
    grid-template-areas:
            "fa-link fa-search"
            "card-back-title card-back-title"
            "card-back-text card-back-text";
    justify-content: center;
    justify-items: center;
    align-content: center;
    grid-column-gap: 5px;
    box-sizing: border-box;
    border-top: 2px solid #18cfab;
}

.back>.fa-link{
    grid-area: fa-link;
    justify-self: end;
}
.back>.fa-search{
    grid-area: fa-search;
    justify-self: start;
}
.back>.fa-link, .back>.fa-search{
    width: 37px;
    height: 37px;
    border: 1px solid #18cfab;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #18cfab;
}
.back>.fa-link:hover, .back>.fa-search:hover{
    background: #18cfab;
    color: white;
}
.card-back-title{
    grid-area: card-back-title;
    align-self: end;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #18cfab;
}
.card-back-text{
    grid-area: card-back-text;
    align-self: start;
    font-size: 12px;
    font-weight: lighter;
    color: #80828a;
}
.card:hover .front {
    transform: rotateZ(180deg);
}
.card:hover .back {
    transform: rotateZ(360deg);
}
.work-block-button{
    margin-bottom: 60px ;
}
.load-img{
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 14px;
    border-radius:10px ;
    border: 1px solid transparent;
    padding: 15px 20px;
    background-color: #18cfab;
    color: white;
    text-transform: uppercase;
    transition: color, border-top-color, background-color 0.5s;
    cursor: pointer;
    width: 170px;
    margin: 0 auto;
}
.load-img > span{
    font-size: 30px;
    margin-right: 16px;
}

/**/
.container-load{
    display: none;
    position: relative;
}
.container-load{
    width:200px;
    height:200px;
    margin: 0 auto;
}

.container-load div{
    width:100px;
    height:100px;
    top:50px;
    left:50px;
    display:block;
    position: absolute;
}

.top-left{
    animation:tl 7.5s ease infinite
}
.top-right{
    animation:tr 7.5s ease infinite
}
.bottom-left{
    animation:bl 7.5s ease infinite
}
.bottom-right{
    animation:br 7.5s ease infinite
}

.container-load div:before, .container-load div:after
{
    display:block;position:absolute;content:""
}

.container-load div:before{
    width:50px;height:50px
}

.top-left:before{
    background:#1c2a33;
    top:0;
    left:0;
    border-radius:100% 0 0 0
}

.top-right:before{
    background:#18cfab;
    top:0;
    right:0;
    border-radius:0 100% 0 0
}

.bottom-left:before{
    background:#18cfab;
    bottom:0;
    left:0;
    border-radius:0 0 0 100%
}

.bottom-right:before{
    background:#1c2a33;
    bottom:0;
    right:0;
    border-radius:0 0 100% 0
}

.container-load div:after{
    background: #f8fcfe;
    width:25px;
    height:25px;
    z-index:1
}

.top-left:after
{top:25px;left:25px;border-radius:100% 0 0 0}

.top-right:after
{top:25px;right:25px;border-radius:0 100% 0 0}

.bottom-left:after
{bottom:25px;left:25px;border-radius:0 0 0 100%}

.bottom-right:after
{bottom:25px;right:25px;border-radius:0 0 100% 0}

@keyframes tl{
    0%,96%,100%{transform:rotate(0deg)}
    12%{transform:rotate(-45deg)}
    24%{transform:rotate(-90deg)}
    36%{transform:rotate(-135deg)}
    48%{left:50px;transform:rotate(-180deg)}
    60%{left:125px;opacity:1;transform:rotate(-135deg)}
    61%,95%{opacity:0}
}

@keyframes tr{
    0%{transform:rotate(0deg)}
    12%{transform:rotate(-45deg)}
    24%{transform:rotate(-90deg)}
    36%{transform:rotate(-135deg)}
    48%{transform:rotate(-180deg)}
    60%{transform:rotate(-225deg)}
    72%{transform:rotate(-270deg)}
    84%{transform:rotate(-315deg)}
    96%,100%{transform:rotate(-360deg)}
}

@keyframes bl{
    0%,100%{transform:rotate(0deg)}
    12%{transform:rotate(-45deg)}
    24%{left:50px;transform:rotate(-90deg)}
    36%{left:125px;opacity:1;transform:rotate(-45deg)}
    37%,83%{opacity:0}
    84%{left:-25px;opacity:1;transform:rotate(-45deg)}
    96%{left:50px;transform:rotate(0deg)}
}

@keyframes br{
    0%,96%,100%{transform:rotate(0deg)}
    12%{left:125px;opacity:1;transform:rotate(45deg)}
    13%,59%{opacity:0}
    60%{left:-25px;opacity:1;transform:rotate(45deg)}
    72%{left:50px;transform:rotate(90deg)}
    84%{transform:rotate(45deg)}
}


/*breaking-news*/
.breaking-news{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 82px 0 130px 0;
}
.card-tools {
    width: 263px;
    height: 208px;
    position: relative;
}
.top-block-date{
    width: 67px;
    height: 67px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #203e38;
    position: absolute;
    top: 0;
    right: 0;
}
.date-day,.date-month{
    color: white;
    font-size: 16px;
}
.card-bottom{
    border: 1px solid #f6f6f6;
    background: #f8fcfe;
    padding: 10px 31px;
}
.bottom-title{
    font-size: 18px;
    font-weight: bold;
    color: #717171;
    display: block;
}
.bottom-owner,.bottom-amount-comment{
    display: inline-block;
    font-size: 14px;
    font-weight: lighter;
    color: #777777;
}
.bottom-owner{
    border-right: 1px solid #b4b4b4;
    padding-right: 13px ;
}

.bottom-amount-comment{
    padding-left: 13px;
}
.container-cards-breaking-news{
    display: grid;
    grid-template-columns: repeat(4 ,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-column-gap: 28px;
    grid-row-gap: 48px;
}
.card-breaking-news:hover .top-block-date{
    background-color: #18cfab;
}
.card-breaking-news:hover .bottom-title{
    color: #18cfab;
}

/*what-people-say*/
.what-people-say{
    background:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)) ,url(../img/sections_background/section-what.jpg)  no-repeat fixed bottom/cover;
    padding: 100px 0 82px 0;
}
.what-people-say>.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.what-people-say>.label-section{
    color: white;
}
.very-big-quotes{
    height: 44px;
    object-fit: cover;
    margin-bottom: 40px;
}
.description-person, .specialty-person{
    color: white;
    font-size: 16px;
    margin-bottom: 36px;
}
.name-person{
    color: #18cfab;
    font-size: 20px;
    margin-bottom: 8px;
}
.select-photo,.slider-item{
    border-radius: 50%;
    object-fit: cover;
}
.select-photo{
    width: 140px;
    height: 140px;
    border: 2px solid #18cfab;
    box-shadow: 0 0 0 11px rgba(210,248,240,0.3);
    margin-bottom: 51px;
}
.shift-photo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.shift-to-right,.shift-to-left{
    width: 30px;
    height: 30px;
    background: rgba(0,0,0,0);
    border: 1px solid white;
    color: white;
    padding-bottom: 5px;
    outline: 0;
}
.finish-direction, .shift-to-right:hover, .shift-to-left:hover{
    background: #18cfab;
    border-color:#18cfab ;
}
.slider{
    width: 368px;
    overflow: hidden;
}
.direct{
    height: 90px;
    width: 910px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
}
.slider-item{
    width: 56px;
    height: 56px;
    box-sizing: border-box;
    border: 2px solid #18cfab;
    box-shadow: 0 0 0 3px rgba(210,248,240,0.3);
    transition: opacity ease 1s, margin ease 0.3s;
}
.slider-item:hover{
    margin-bottom: 20px;
}
.slider-item-select{
    margin-bottom: 16px;
}

/*gallery*/
.gallery{
    text-align: center;
}
.gallery>.label-section{
    margin: 95px 0 32px 0;
}
.gallery>.double-lines{
    margin: 0 auto 67px auto;
}
.container-plugin-div-on-three,.container-plugin-div-on-two{
    margin: 0 auto;
}
.container-plugin-div-on-three:after,.container-plugin-div-on-two:after,.container-plugins:after {
    content: '';
    display: block;
    clear: both;
}
.plugin-item {
    width: 31.2%;
    object-fit: cover;
    float: left;
}
.plugin-item> img {
    display: block;
    width: 100%;
}
.plugin-item-div-on-two{
    float: left;
    width: 48%;
    height: 168px;
    object-fit: cover;
}
.plugin-item-div-on-tree{
    float: left;
    width: 31.3%;
    height: 92px;
    object-fit: cover;
}
.plugin-item, .plugin-item-div-on-two,.plugin-item-div-on-tree{
    padding: 1%;
}

/*footer*/
.footer{
    margin-top: 83px;
    background-color: #22353f;
    text-align: center;
}
.footer-title{
    display: block;
    color: #aeaeae;
    font-size: 14px;
    padding: 43px 0 43px 0;
}
.footer-title-redid{
    color: #18cfab;
}